<div class="hero-unit">
  <h1>Roomie</h1>
  <p>Roomie makes it easier to live with roommates.</p>
  
  <%= link_to "Sign up for Roomie", signup_path, class: "btn-blue" %><a class="btn-green">Confirm me!</a> <a class="btn-red">Deny me!</a>

</div> 