<div class="row">
  <h1><%= @dwelling.nickname %>
  
  <h3>Currently living in this dwelling:</h3>
    
    <ul id="roomie_list">
    <% @dwelling.users.each do |u| %>
      <li><h4><%= link_to "#{u.first_name} #{u.last_name}", u %></h4></li>
    <% end %>
    </ul>

</div> 