<h1>Users</h1>

<%= form_tag users_path, method: "get" do %>
  <%= text_field_tag :email, params[:email], placeholder: "search for roomies by email" %>
  <%= submit_tag "Search", name: nil %>
<% end %>
</br>

<% if @users.any? %>
  <% @users.each do |u| %>
  <%= link_to u.full_name, u %></br>
<% end %>
<% else %>
  No users.
<% end %>

</br>
