<h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <% if !@user.dwelling.nil? %>
  <h3>Member of <%= link_to @user.dwelling.nickname, @user.dwelling %></h3>
  <% end %>

<h5>ADD RATINGS ABOUT ROOMMATES</h5>

