<h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <% if !@user.dwelling.nil? %>
    <h3>Member of <%= link_to @user.dwelling.nickname, @user.dwelling %></h3>
  <% end %>

  <% if @user.dwelling.nil? %>
    <h5>Have you moved in with some roomies? <%= link_to "Create your dwelling now!", new_dwelling_path %></h5>
  <% end %>

<h5>ADD RATINGS ABOUT ROOMMATES</h5>



