/* CUSTOM CSS STYLES */

/* DWELLING VIEW STYLES */

.paid-bill {
  background-color: #5E9B77;
}

.dwelling-bill-list {
  margin-bottom: 10px;
}

.dwelling-bill-list tr {
  height: 100px;
  border-spacing: 0px 20px;
}

.dwelling-bill-list td {
  vertical-align: middle;
  border-spacing: 0px 20px;
}


.bill-detail {
  font-weight: bold;
  font-size: xx-large;
}

.bill-name {
  width: 150px;
}

.late-bill {
  color: red;
}

.due-soon-bill {
  background-color: #ffecc4;
}

#roomie-list {
  background-color: white;
  padding: 10px 10px;
}


/* END DWELLING VIEW STYLES */

/* UNIVERSAL STYLES */

table {
  border-collapse: separate;
  border-spacing: 20px 20px;
}

body {
  padding-top: 60px;
  background-color: white;
  /* background-color: #f0f0ed; */
  }
  
.container {

}
  
.navbar-inner {
  background-color: #33363b;
}

.btn-blue {
  background-color: #4090ba;
  color: #ffffff;
  padding: 12px 15px 12px 15px;
  font-size: 12.5px;
  font-weight: bold;
  display: moz inline box;
  -moz-box-orient: vertical;
  display: inline-block;
  vetical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: #3981A7;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.btn-blue:active {
  background-color: #2e6c8c;
}

.btn-green {
  background-color: #6cb288;
  color: #ffffff;
  padding: 12px 15px 12px 15px;
  font-size: 12.5px;
  font-weight: bold;
  display: moz inline box;
  -moz-box-orient: vertical;
  display: inline-block;
  vetical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.btn-green:hover {
  background-color: #5e9b77;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.btn-red {
  background-color: #db7267;
  color: #ffffff;
  padding: 12px 15px 12px 15px;
  font-size: 12.5px;
  font-weight: bold;
  display: moz inline box;
  -moz-box-orient: vertical;
  display: inline-block;
  vetical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.btn-red:hover {
  background-color: #bc645c;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}



#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
  
  /* ICONS */

.icon-keys {
  width: 43px;
  height: 18px;
  background-image: url('../images/key_icon.jpg');
  margin-left: 5px;
  margin-right: 5px;
}
